$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: $line-height-computed;
  color: #777;
  border-top: 1px solid $hr-border;
  font-size: $font-size-small;

  a {
    &, &:active, &:visited {
      color: $gray;
      text-decoration: underline;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.ng-hide-remove {
  -webkit-animation: bounceIn 2.5s;
  animation: bounceIn 2.5s;
}

.ng-hide-add {
  -webkit-animation: flipOutX 2.5s;
  animation: flipOutX 2.5s;
  display: block !important;
}

.palette-list {
  .palette {
    &.animate.ng-enter {
      -webkit-animation: pulse 0.5s;
      animation: pulse 0.5s;
    }

    .color-list {
      .color {
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      }

      &.list-inline {
        margin-left: 0;
      }
    }

    .palette-scheme-type {
      font-size: $font-size-small;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
