<form ng-submit="make_palettes()">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" title="Randomize" data-toggle="tooltip" class="btn btn-default random-color-button" ng-click="randomize_source_color()">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </div>
      <input class="form-control" type="text" placeholder="Base color, e.g., #ff00ff" ng-model="options.source_color">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default">Make Palettes</button>
      </div>
    </div>
  </div>
</form>

<ul class="palette-list list-unstyled">
  <li ng-repeat="palette in palettes" id="{{palette.scheme_type}}" class="animate palette">
    <h3 class="palette-scheme-type">{{palette.scheme_type}}</h3>
    <ul class="color-list list-inline">
      <li ng-repeat="color in palette.colors" class="color" ng-style="{'background-color': 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')', 'width': (100 / palette.colors.length) + '%'}">
        <span class="r">{{color.r}}</span><span class="separator">,</span>
        <span class="g">{{color.g}}</span><span class="separator">,</span>
        <span class="b">{{color.b}}</span>
      </li>
    </ul>
  </li>
</ul>
